.modal {
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.75);
  .modal-header {
    border-bottom: 0;
  }
  .sales-modal-content {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
    h4 {
      color: gray;
    }
    .sales-platform {
      margin: 20px auto;
      font-size: 18px;
      padding: 12px 15px;
      box-shadow: 0 0 24px -10px gray;
      background-color: white;
      border-radius: 30px;
      min-width: 235px;
    }
    .buy-recommendation {
      padding: 20px 10px;
    }
    .envato-green {
      color: green;
    }
    .selar {
      color: blue;
    }
  }
}
